body {
    margin: 0;
    padding: 0;

    background-color: #F2F2F2;

    font-family: 'Playfair Display', serif;
    font-size: 16px;
    color: #1B2437;
    line-height: 1.5;
}

*,
*:before,
*:after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

/*CONTAINER
==================*/


.container {
    width: 100%;
    max-width: 1140px;
    margin: 0 auto;
}

/*BUTTON
==================*/

a {
    text-decoration: none;
}

.btn {
    font-family: 'Mulish', sans-serif;
    font-size: 16px;
    font-weight: 600;
    color: #EDA3B5;
    text-align: center;

    border: 2px solid #EDA3B5;
    border-radius: 16px;

    padding: 15px 32px;
}

.btn:hover {

    color: #FFFFFF;
    background-color: #EDA3B5;
}


/*HEADER
==================*/


.header {
    width: 100%;
    background-color: #fff;
}

.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0px;
}

.header__logo {
    cursor: pointer;
}

.header-nav__links li, a {
    font-size: 24px;
    text-decoration: none;
    list-style: none;
    color: #1B2437;
}

.header-nav__links li {
    display: inline-block;
    padding: 0px 30px;
}

.header-nav__links .active {
    text-decoration: line-through;
}

.header-icons__item {
    padding: 0px 17px;
}

.header-icons__item:last-child {
    padding-right: 0;
}



/*BURGER
==================*/

.button_container {
    display: none;
    position: fixed;
    top: 2%;
    right: 2%;
    height: 27px;
    width: 35px;
    cursor: pointer;
    z-index: 100;
    transition: opacity .25s ease;
}

.button_container:hover {
    opacity: .7;
}
.button_container.active .top {
    transform: translateY(11px) translateX(0) rotate(45deg);
    background: #FFF;
}
.button_container.active .middle {
    opacity: 0;
    background: #FFF;
}
.button_container.active .bottom {
    transform: translateY(-11px) translateX(0) rotate(-45deg);
    background: #FFF;
}
.button_container span {
    background: #1B2437;
    border: none;
    height: 5px;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: all .35s ease;
    cursor: pointer;
}
.button_container span:nth-of-type(2) {
    top: 11px;
}
.button_container span:nth-of-type(3) {
    top: 22px;
}




.overlay {
    position: absolute;
    background: #737368;
    top: 0;
    left: 0;
    width: 100%;
    height: 0%;
    opacity: 0;
    visibility: hidden;
    transition: opacity .35s, visibility .35s, height .35s;
    overflow: hidden;
    z-index: 5;
}
.overlay.open {
    opacity: .9;
    visibility: visible;
    height: 100%;
}
.overlay.open li {
    animation: fadeInRight .5s ease forwards;
    animation-delay: .35s;
}
.overlay.open li:nth-of-type(2) {
    animation-delay: .4s;
}
.overlay.open li:nth-of-type(3) {
    animation-delay: .45s;
}
.overlay.open li:nth-of-type(4) {
    animation-delay: .50s;
}
.overlay nav {
    position: relative;
    height: 70%;
    top: 50%;
    transform: translateY(-50%);
    font-size: 50px;
    font-family: 'Varela Round', serif;
    font-weight: 400;
    text-align: center;
}
.overlay ul {
    list-style: none;
    padding: 0;
    margin: 0 auto;
    display: inline-block;
    position: relative;
    height: 100%;
}
.overlay ul li {
    display: block;
    height: 25%;
    height: calc(100% / 4);
    min-height: 50px;
    position: relative;
    opacity: 0;
}
.overlay ul li a {
    display: block;
    position: relative;
    color: #FFF;
    text-decoration: none;
    overflow: hidden;
}

.overlay ul li a:hover:after, .overlay ul li a:focus:after, .overlay ul li a:active:after {
    width: 100%;
}
.overlay ul li a:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0%;
    transform: translateX(-50%);
    height: 3px;
    background: #FFF;
    transition: .35s;
}

@keyframes fadeInRight {
    0% {
        opacity: 0;
        left: 20%;
    }
    100% {
        opacity: 1;
        left: 0;
    }
}

/*FILTERS
==================*/

.filters-wrapper {

}

.filters-wrapper__inner {

    /*    display: flex;*/
    padding: 24px 0px 40px 0px;

}

.filters-form {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.filters-form select {

    position: relative;

    font-family: 'Mulish', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.25;
    color: #C7C7CC;

    padding: 12px 120px 13px 12px;

    border: 2px solid #E5E5EA;
    border-radius: 8px;

    background: url("../img/icons/arrow_small.svg") no-repeat;
    background-position: right 10px top 50%;
    appearance: none;

    cursor: pointer;
}

.filters-form input {
    width: 30px;
    height: auto;
}



.filter-inner__content {
    padding-right: 24px;
}

/* .filter-inner__content__size {
    padding-right: 63px;
    min-height: 78px;

    position: relative;
} */

/* .filter-inner__content__size::after {
    position: absolute;
    content: url(../img/icons/arrow_small.svg);
    width: 20px;
    height: 20px;

    top: 50%;
    right: 10%;
    z-index: 10;

    cursor: pointer;
} */

.filter-content__item {
}

.filter-inner__content:last-child {
    padding-right: 0px;
}


.filter-content__title {
    font-family: 'Mulish', sans-serif;
    font-size: 16px;
    font-weight: 400;

    margin-bottom: 8px;
}

/* .size__title {
    padding-bottom: 18px;
    margin-bottom: 0;
} */

/* .radio__input {
    display: none;
}

.radio__size__label {
    padding: 12px 24px;
    margin-right: 10px;

    font-family: 'Mulish', sans-serif;
    font-size: 16px;
    font-weight: 400;

    cursor: pointer;

    border: 2px solid #E5E5EA;
    border-radius: 8px;
}

.radio__size__label:last-child {
    margin-right: 0px;
}

.radio__input:checked + .radio__size__label {
    background-color: #EDA3B5;
    color: #fff;
}
 */



.custom-select-wrapper {
    /* position: relative; */
    user-select: none;
    width: 250px;
}
.custom-select {
    /* position: relative; */
    display: flex;
    flex-direction: column;
}
.custom-select__trigger {
    /* position: relative; */
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
    padding: 0 22px;
    font-family: 'Mulish' sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #3b3b3b;
    height: 60px;
    /* line-height: 60px; */
    cursor: pointer;
}

.custom-option {
    border: 2px solid #E5E5EA;
    border-radius: 8px;
    padding: 8px 25px;
    margin-right: 5px;
}

.custom-option:last-child {
    margin-right: 0px;
}

.custom-options {
    display: flex;
}

.custom-options .selected {
    background-color: #EDA3B5;
    color: #fff;
}
/* .custom-options {
   position: absolute;
   display: block;
   top: 100%;
   left: 0;
   right: 0;
   border: 2px solid #394a6d;
   border-top: 0;
   background: #fff;
   transition: all 0.5s;
   opacity: 0;
   visibility: hidden;
   pointer-events: none;
   z-index: 2;
} */
/*.custom-select.open .custom-options {
    opacity: 1;
    visibility: visible;
    pointer-events: all;
}
.custom-option {
    position: relative;
    display: block;
    padding: 0 22px 0 22px;
    font-size: 22px;
    font-weight: 300;
    color: #3b3b3b;
    line-height: 60px;
    cursor: pointer;
    transition: all 0.5s;
}
.custom-option:hover {
    cursor: pointer;
    background-color: #b2b2b2;
}
.custom-option.selected {
    color: #ffffff;
    background-color: #305c91;
} */



.arrow {
    position: relative;
    height: 15px;
    width: 15px;
}
.arrow::before, .arrow::after {
    content: "";
    position: absolute;
    bottom: 0px;
    width: 0.15rem;
    height: 100%;
    transition: all 0.5s;
}
.arrow::before {
    left: -5px;
    transform: rotate(45deg);
    background-color: #394a6d;
}
.arrow::after {
    left: 5px;
    transform: rotate(-45deg);
    background-color: #394a6d;
}
.open .arrow::before {
    left: -5px;
    transform: rotate(-45deg);
}
.open .arrow::after {
    left: 5px;
    transform: rotate(45deg);
}




/*PRODUCT-CADRS
==================*/


.row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    margin-bottom: 24px;
}

.product-card {
    width: 33.33333%;
    max-width: 364px;

    display: flex;
    flex-wrap: wrap;
    flex-direction: column;

    background-color: #FFFFFF;
    border-radius: 16px;
    margin-bottom: 24px;
}

.product-card__image {
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
}

.product-card__title {
    font-size: 34px;
    line-height: 1.33;
    padding: 24px 32px 14px;
}

.product-card__desc {
    font-family: 'Mulish', sans-serif;
    font-size: 16px;
    color: #8E8E93;

    padding: 0px 32px 28px;
}

.product-card__price {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 0px 32px 24px 32px;
}

.product-card__price__cost {
    font-size: 34px;
    line-height: 1.33;
}


/*=============PAGINATION===================*/

.pagination {
    display: flex;
    justify-content: center;
    margin: 50px 0px;
    position: relative;

}

.pagination ul {
    display: flex;
}

.pagination ul li {

    list-style: none;
    text-align: center;
    padding: 0px 7px;

    font-family: 'Mulish', sans-serif;
    font-size: 20px;
    line-height: 1.25;
    font-weight: 700;
    color: #1B2437;

    cursor: pointer;
    border-radius: 8px;

    transition: all .4s ease;
}

.pagination ul li.numb {

}

.pagination ul li.dots {
    cursor: default;
}

.pagination ul li.active,
.pagination ul li.numb:hover {
    background: #EDA3B5;
    color: #ffffff;
}

.pagination .btn-prev {
    position: absolute;
    left: 0;
    top: 0;
    color: #EDA3B5;
}

.pagination .btn-next {
    position: absolute;
    right: 0;
    top: 0;
    color: #EDA3B5;
}

/*=============LIST===================*/

.product-card--list {
    margin-bottom: 40px;
    width: 100%;
    max-width: 100%;

    display: flex;
    justify-content: space-between;

    background-color: #FFFFFF;
    border-radius: 16px;
}

.wraper--list {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 50%;
    justify-content: center;
    padding: 20px 0px 20px 20px;
}

.product-card__image--list  {
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
}

.product-card__title--list {
    display: flex;
    align-items: center;
    font-size: 34px;
    line-height: 1.33;
    margin-bottom: 15px;
}

.product-card__desc--list {
    display: flex;
    align-items: center;
    font-family: 'Mulish', sans-serif;
    font-size: 16px;
    color: #8E8E93;

}

.product-card__price--list {
    display: flex;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    width: 25%;

}

.product-card__price__cost--list {

    font-size: 30px;
    line-height: 1.33;

    margin-bottom: 25px;
}

.btn--list {
    font-family: 'Mulish', sans-serif;
    font-size: 16px;
    font-weight: 600;
    color: #EDA3B5;
    text-align: center;

    border: 2px solid #EDA3B5;
    border-radius: 16px;

    padding: 12px 25px;
}

.btn--list:hover {

    color: #FFFFFF;
    background-color: #EDA3B5;
}

/*FOOTER
==================*/

.footer {
    width: 100%;
    background-color: #ffffff;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    padding: 48px 0px;
}

.footer-content__item {

}

.footer-content__title {
    font-size: 24px;
    line-height: 1.33;

    margin-bottom: 24px;
}

.footer-content__nav {

}

.footer-nav {

}

.footer-nav__links li {
    list-style: none;
    padding: 8px 0px;

}

.footer-nav__links li:first-child {
    padding-top: 0px;
}

.footer-nav__links li:last-child {
    padding-bottom: 0px;
}

.footer-nav__links .link{
    font-family: 'Mulish', sans-serif;
    font-size: 16px;
    text-decoration: none;
    color: #8E8E93;
}

.footer-form {
    margin-top: 50px;
}

.footer-form__input {
    font-family: 'Mulish', sans-serif;
    font-size: 14px;
    color: #C7C7CC;

    border: 2px solid #E5E5EA;
    border-radius: 8px;

    padding: 12px 139px 14px 16px;
}

.copyright {
    background: #EFEFF4;

}

.copyright-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 0px;
}


.copyright-author {
    font-family: 'Mulish', sans-serif;
    font-size: 16px;
    line-height: 1.25;
    color: #8E8E93;
}

.copyright .social-icon__link {
    padding: 0px 15px;
}

.copyright .social-icon__link:last-child{
    padding-right: 0px;
}


@media (max-width: 1150px) {
    .header__inner {
        padding: 15px 15px;
    }

    .filters-wrapper {
        display: none;
    }

    .filters-wrapper__inner {
        padding: 24px 15px 40px 15px;
    }
}


@media (max-width: 991px) {


    .header__logo {
        padding: 0px 15px;
    }


    .header-nav {
        display: none;
    }


    .header-icons {
        display: none;
    }

    .button_container {
        display: block;
    }
}